.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1200px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu a {
  font-size: 1.125rem;
  line-height: 3.3;
  color: #141414;
  padding: 20px 10px;
}
