.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 0 auto;
  padding: 40px 20px 60px;
  gap: 100px;
  max-width: 1200px;
}

.introducao-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.introducao-container::before {
  content: "";
  width: 140px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -45px;
  z-index: -1;
}

.introducao-container h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

.introducao-container p {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao-container h1 {
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px 30px;
    gap: 40px;
  }

  .introducao-container::before {
    position: initial;
    width: 30px;
    height: 10px;
  }

  .introducao-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .introducao-container p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}
